@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Restaurant</h1>



    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center ">            
            <a class="btn btn-light btn-outline-dark rounded text-center mt-3" asp-controller="Utenti" asp-action="Login">LogIn</a>
        </div>
    }
</div>


